.header-footer, header, footer {
  background-image: linear-gradient(to right, #cfcf14, #ce9121, #cfcf14, #ce9121, #cfcf14); }

header nav {
  display: flex;
  justify-content: center; }
  header nav .nav-link {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }

.header-footer, header, footer {
  background-image: linear-gradient(to right, #cfcf14, #ce9121, #cfcf14, #ce9121, #cfcf14); }

.header-footer, header, footer {
  background-image: linear-gradient(to right, #cfcf14, #ce9121, #cfcf14, #ce9121, #cfcf14); }

.logo-redes {
  width: 76px; }
