$ancho: 160px;
$tiempo: 2s;
$medida1: 5px;
$size1: 120px;
$size2: 200px;
$size3: 300px;
$size4: 200px;
$size5: 30px;
$size6: 768px;
$size7: 320px;
$movimiento1: height;
$movimiento2: width;
$rojo: rgba(187, 19, 19, 0.897);
$colores: rgb(207, 207, 20), rgb(206, 145, 33), rgb(207, 207, 20), rgb(206, 145, 33), rgb(207, 207, 20);
$tipo-de-letra: 'Montserrat', sans-serif;
$negro: black;