$ancho: 160px;
$tiempo: 2s;
$medida1: 5px;
$size1: 120px;
$size2: 200px;
$size3: 30px;
$movimiento1: height;
$movimiento2: width;
$colores: rgb(207, 207, 20), rgb(206, 145, 33), rgb(207, 207, 20), rgb(206, 145, 33), rgb(207, 207, 20);
$tipo-de-letra: 'Montserrat', sans-serif;
$negro: black;