@import "../variables/variables";

@mixin flexibilizar-centrar{
    display: flex;
    justify-content: center;  
}

@mixin fuentes{
    font-family: $tipo-de-letra;
    text-decoration: none;
    color: $negro;
    font-size: $size3;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}